// Main Sass Stylesheet

$fontPrenton: "prenton";

// Colors
$black: #000;
$white: #fff;
$nsrblue: rgba(6, 20, 56, 1);

.page_header {
	font-size: 2.4rem;
	font-family: $fontPrenton;
}

.tags_span {
	font-size: 1.2rem;
	font-family: $fontPrenton;
}

.project_desc_title {
	font-size: 1.2em;
	font-weight: 600;
	margin-right: 5px;
	color: $black;
	display: inline-block;
}

.project_url {
	font-size: 1.2rem;
}
.project_url:hover {
	font-weight: 800;
	text-decoration: underline;
	transition: font-weight .1s ease-in-out; 
}

.project_desc {
	margin-top: 15px;
}

img.logo_centered {
	margin-left: 345px;
	margin-top: 25px;
}
.copyright {
	margin-top: 225px;
}

p.welcome_message {
	text-align: center;
	margin: 0 auto;
	font-size: 1.2rem;
}

.project_tech {
	display: block;
	margin-bottom: 200px;
	padding-left: 20%;
}

// Button Stylings
button {
	padding: 15px;
	background: transparent;
	border: 3px solid $black;
	font-weight: bold;
	color: $black;
	font-size: 1.1rem;
	box-sizing: border-box;
}

button:hover {
	background: $black;
	color: $white;
	border: 3px solid $white;
	box-sizing: border-box;
}

#nsr-button {
	background: $nsrblue;
	color: $white;
	border: 3px solid $white;
}

#nsr-button:hover {
	background: transparent;
	color: $nsrblue;
	border: 3px solid $nsrblue;
}


// List Styles

.list_left {
	float: left;
	width: 48.5%;
}

.list_right {
	float: right;
	width: 48.5%;
}

.teach_used_item {
	text-align: left;
}