title: Empowered Media Group
thumbnail: /static/images/thumbnails/image-thumbnail_empowered.jpg
tags: Web Design, Web Development, WordPress, UI/UX Dev
date: 15-06-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<center><h2 class="project_header">Empowered Media Group</h2></center>

<center><img class="featured 2x" src="{% static '/images/projects/emg-1_.jpg' %}"/></center>

Displays images in a grid, with individual pages optionally describing the image in detail, or displaying more images. Images have a max-width of 400 pixels by default.

{% endfilter %}
{% endblock body %}