title: Empowered Media Group
thumbnail: /static/images/thumbnails/image-thumbnail_empowered.jpg
tags: Web Design, Web Development, WordPress, UI/UX Dev
date: 25-07-2013

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<center><h2 class="project_header">Empowered Media Group</h2></center>

<center><img class="featured 2x" src="{% static '/images/projects/emg-1_.jpg' %}"/></center>

<div class="project_details">
	<center>
		<span class="project_url">
			<a href="http://www.empoweredmediagroup.com/" target="_blank" rel="follow" alt="Empowered Media Group" title="Empowered Media Group" class="project_url">
				<button id="emg-button">Visit Empowered Media Group</button>
			</a>
		</span>
	</center>
	<br/>
	<section class="project_desc">
		<p>Empowered Media Group is a Creative Services Firm located in Central New Jersey that specializes in Web & Branding for Businesses.</p>
		<p>Empowered Media Group was founded in 2010 by Bryan Angelo. I joined in August of 2012 and soon became the CTO &amp; Lead Web Developer. I built the Empowered website on the WordPress CMS to make updating of content extremely easy. I am currently in the process of redesigning our site completely from scratch.</p>
	</section>
	<h1 class="tech_used_title">Technology Used</h1>
	<section class="project_tech">
		<ul class="tech_used list_left">
			<li class="teach_used_item">WordPress CMS</li>
			<li class="teach_used_item">HTML/HTML5</li>
			<li class="teach_used_item">CSS/CSS3</li>
			<li class="teach_used_item">jQuery!/JavaScript</li>
		</ul>
		<ul class="tech_used list_right">
			<li class="teach_used_item">PHP &amp; MySQL</li>
			<li class="teach_used_item">Custom WordPress Theme</li>
			<li class="teach_used_item">Responsive Design</li>
			<li class="teach_used_item">Parallax Effects</li>
		</ul>
	</section>


{% endfilter %}
{% endblock body %}