title: The Next Step Realty
thumbnail: /static/images/nsr-thumbnail.jpg
tags: Web Design, Web Development, WordPress, UI/UX Dev
date: 01-05-2014

{% extends "post.html" %}
{% block body %}
{% filter markdown %}

<img class="featured 2x" src="{% static '/images/image-full.jpg' %}"/>

<div class="project_details">
	<span class="project_url"><a href="http://www.thenextsteprealty.com/" target="_blank" rel="follow" alt="The Next Step Realty" title="The Next Step Realty" class="project_url">Visit The Next Step Realty</a></span>
	<br/>
	<section class="project_desc">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</section>
	
</div>

{% endfilter %}
{% endblock body %}