{% extends "base.html" %}
{% block content %}
<section id="wrapper">
  <header id="header">
    <h1 class="page_header">{% block title %}{{ block.super }}{% endblock title %}</h1><br/>
    
  </header> <!--header-->

  <section id="thumbnails" class="group">					
    {% for post in posts %}
    <a href='/{{ post.path }}'><img class="2x" width="300" height="300" src="{{ post.thumbnail }}"/>
    <span>{{ post.title }}</span>
    </a>
    {% endfor %}
  </section> <!--thumbnails-->
  
  {% block footer %}
  <footer id="footer">
    <p class="small">A short description.</p>
  </footer>
  <br/>
  <img class="logo_centered 2x" width="250" height="135" src="{% static '/images/super-soaker.jpg' %}"/>
  <div class="copyright">
	  <center>&copy; 2014 Matt Urenovich, All Rights Reserved</center>
  </div>
  {% endblock footer %}
</section> <!--wrapper-->
{% endblock content %}
